@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}
/* index.css or globals.css */
@layer utilities {
  .text-halftone {
    background-image: radial-gradient(circle, #e6e6e2 1.5px, transparent 1.5px);
    background-size: 6px 6px;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
}